@import "variables";
@import "mixin";

/* Contacto (videos con flex) */
.videos-section {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.video-container {
    flex: 1;
    position: relative;
    padding-top: 56.25%; 
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
@include medidas (100%, 100%);
    object-fit: cover;
}
