@import "variables";
@import "mixin";

/* Header */
header {
    .header-container {
      position: relative;
      @include medidas (100%, 100%);
    }
  
    .fondo {
    @include medidas (100%, auto);
      display: block;
    }
  
    .loguito {
      position: absolute;
      top: 20px;
      right: 20px;
    @include medidas (200px, auto);
    }
  
    .navbar {
      .navbar-brand {
        color: $color-principal;
        font-size: 1.5rem;
        font-weight: bold;
      }
  
      .navbar-nav {
        .nav-link {
          color: $color-secundario;
          font-size: 1.1rem;
          padding: 8px 15px;
  
          &:hover {
            color: #f93dff;
          }
        }
      }
  
      .navbar-toggler {
        border-color: #c70ad4;
  
        .navbar-toggler-icon {
          background-color: $color-principal;
        }
      }
    }
  }
  