@import "variables";
@import "mixin";

/* Main Section */
main {
  background: rgb(255, 73, 131);
  background: radial-gradient(circle, rgba(255, 73, 131, 1) 0%, rgba(236, 216, 236, 1) 100%);
  padding: 20px;

  h1 {
    text-align: center;
    text-transform: uppercase;
    color: $color-principal;
    font-weight: bolder;
    margin-bottom: 20px;
  }

  h2 {
    text-align: justify;
    text-transform: capitalize;
    color: $color-secundario;
    margin: 0% 10%;
    margin-bottom: 15px;
  }

  p {
    color: $color-terciario;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: oblique;
    margin: 0% 10%;
  }

  /* Video Background */
  .video-background {
    @include medidas(100%, 100%);

    video {
      @include medidas(70%, auto);
    }
  }

  .content-section {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
    align-items: center;
    grid-template-areas: 
      "video text";
}

.video-background {
  grid-area: video;
}

.text-content {
  grid-area: text;
  padding: 20px;

}
      p {
        color: $color-terciario;
        text-align: left;
        font-size: 1.5rem;
        margin-bottom: 20px;
      }
    }
